:root {
	--bg-primary: #151515;
	--bg-secondary: #6852e1;
	--bg-tertiary: #482a72;

	--text-primary: #ccc;
	--text-secondary: #b3b3b3;
	--text-tertiary: #808080;

	--border-primary: #2b2b2b;
	--border-secondary: #404040;
	--border-tertiary: #808080;

	--accent-primary: #6852e1;
	--accent-secondary: #482a72;

	--border-radius: 0.25rem;
}

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--text-primary);
	background: var(--bg-secondary);
}

a {
	text-decoration: none;
	color: var(--text-primary);
}

a:hover {
	color: var(--text-secondary);
}

a:active {
	color: var(--text-tertiary);
}

ul {
	list-style: none;
}

li {
	margin: 0.5rem 0;
}

.visually__hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/** form **/

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	height: 100%;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.form__group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.form__group--multi {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 0.5rem;
}

.form__group--multi-offset {
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 100%;
	gap: 0.5rem;
}

.form__control {
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--border-primary);
	border-radius: 0.25rem;
	background-color: var(--bg-secondary);
	color: var(--text-primary);
}

.form__control:focus {
	outline: none;
	border-color: var(--accent-primary);
}

.form__control::placeholder {
	color: var(--text-secondary);
}

.form__control:disabled {
	background-color: var(--bg-tertiary);
	color: var(--text-tertiary);
}

.form__control:disabled::placeholder {
	color: var(--text-tertiary);
}

.form__control--error {
	border-color: #ff0000;
}

.form__control--error:focus {
	border-color: #ff0000;
}

.form__control--error::placeholder {
	color: #ff0000;
}

.btn {
	display: inline-block;
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--border-primary);
	border-radius: 0.25rem;
	background: none;
	color: var(--text-primary);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--bg-tertiary);
}

.btn:active {
	background-color: var(--bg-primary);
}

.btn__primary {
	border-color: var(--accent-primary);
	color: var(--accent-primary);
}

.btn__primary:hover {
	background-color: var(--accent-primary);
	color: var(--bg-primary);
}

.btn__primary:active {
	background-color: var(--accent-secondary);
	color: var(--bg-primary);
}

.btn__secondary {
	border-color: var(--accent-secondary);
	color: var(--accent-secondary);
}

.btn__secondary:hover {
	background-color: var(--accent-secondary);
	color: var(--bg-primary);
}

.btn__secondary:active {
	background-color: var(--accent-primary);
	color: var(--bg-primary);
}

.btn__disabled {
	border-color: var(--border-tertiary);
	color: var(--border-tertiary);
	cursor: not-allowed;
}

.btn__disabled:hover {
	background-color: var(--bg-secondary);
}

.btn__disabled:active {
	background-color: var(--bg-secondary);
}

.btn__primary--outline {
	baclground: transparent;
	border-color: var(--accent-primary);
	color: var(--accent-primary);
}

.btn__primary--outline:hover {
	background-color: var(--accent-primary);
	color: var(--bg-primary);
}

.btn__secondary--outline {
	border-color: var(--accent-secondary);
	color: var(--accent-secondary);
}

@media screen and (max-width: 62.5em) {
	.form__group--multi-offset {
		grid-template-columns: 1fr;
	}
}
